name: Deploy to EKS

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted

    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == 'main'

    env:
      IMAGE: nani4027/bankapp:${{ github.event.workflow_run.head_sha }}

    steps:
    - name: Configure AWS credentials (IAM Role)
      uses: aws-actions/configure-aws-credentials@v2
      with:
       # role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: us-east-1

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig \
          --region us-east-1 \
          --name ${{ vars.EKS_CLUSTER_NAME }}

    - name: Deploy to EKS
      run: |
        echo "Deploying image: $IMAGE"

        kubectl set image deployment/bankapp \
          bankapp=$IMAGE \
          -n default --record

        kubectl rollout status deployment/bankapp \
          -n default --timeout=300s

    - name: Rollback on failure
      if: failure()
      run: |
        echo "Rolling back deployment..."
        kubectl rollout undo deployment/bankapp -n default
